.*
!/.gitignore
*.o
*.so
*.dll
*.symlist
*.mapfile
*.orig
*.gcno
*.gcda
*.gcov
callgrind.out.*
/config.mk
/conftest.*
work/
openblas/work
openblas/OpenBLAS-*/
lapack/work
lapack/lapack-*/
nlopt/nlopt
nlopt/nlopt-*/
/download/
/include/
/lib/
debug/*.[chq]
coverage/*.[chq]
test/*.pyc
